<section>
  <h1>About Me</h1>
  <p>
    <span style='float:left;'>
      <img alt='avatar' src='http://www.gravatar.com/avatar/0e72db523b0c799c871b7755eda209f5.png' />
    </span>

    I'm
    <a href='http://profiles.google.com/erochest' rel='author'>Eric Rochester</a>.
    At various points in my life, I have been a writer, computer programmer,
    computational/corpus linguist, and literary critic.  Like a crazy person, I
    still try to do all of that. Currently, I am Senior Developer at the <a
      href='http://www.scholarslab.org/'>Scholars' Lab</a>.
  </p>
</section>
