
// From http://colorschemedesigner.com/#0I31Tw0w0w0w0

/*
 * $primary1   : #ff9200;
 * $primary2   : #bf8230;
 * $primary3   : #a65f00;
 * $primary4   : #ffad40;
 * $primary5   : #ffc373;
 * 
 * $secondary1 : #1b1bb3;
 * $secondary2 : #313186;
 * $secondary3 : #090974;
 * $secondary4 : #4f4fd9;
 * $secondary5 : #7373d9;
 * 
 * $tertiary1  : #00af64;
 * $tertiary2  : #218359;
 * $tertiary3  : #007241;
 * $tertiary4  : #36d792;
 * $tertiary5  : #61d7a4;
 * 
 * $cream      : #fff4e5;
 * $offblack   : #422600;
 */

// From http://colorschemedesigner.com/#3w21Tw0w0w0w0

$primary1   : #057d9f;
$primary2   : #216477;
$primary3   : #025167;
$primary4   : #39aecf;
$primary5   : #61b7cf;

$secondary1 : #ff8100;
$secondary2 : #bf7380;
$secondary3 : #a65400;
$secondary4 : #ffa040;
$secondary5 : #ffba73;

$cream      : #f7fbfd;
$offblack   : #12323b;

