
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'colors';
@import 'dimensions';

#container {
    @include media(min-width 960px);

    > header * {
        width: $index-width;
    }

    > div {
        @include outer-container;
        width: $index-width;
        margin-top: 1em;

        .panel {
            @include span-columns(4);
            height: 200px;
            border: 1px solid $full;
            margin-bottom: 1.25em;
            padding: 0.25em;
            background-color: hsl($hue, $sat, 99%);
        }

        .panel.main {
            @include span-columns(8);
            background-color: hsl($hue+$accent-offset, 26%, 89%);
            color: hsl($hue+$accent-offset, 26%, 10%);
            box-shadow: 0 0 1px 1px hsla($hue+$accent-offset, 26%, 10%, 0.3);
        }

        .omega {
            @include omega();
        }
    }

    > footer {
        width: $index-width;
    }
}

#container {
    @include media(36em);
}

