
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'colors';
@import 'dimensions';

#container {
    .panel {
        height: 200px;
        border: 1px solid $full;
        padding: 0.25em;
        background-color: hsl($hue, $sat, 99%);
        font-size: smaller;

        > div.panel-content {
            overflow-y: hidden;
            height: 190px;
        }
        > div.more {
            width: 100%;
            text-align: right;
            position: relative;
            top: -1em;
            @include linear-gradient(top, hsla($hue, $sat, 99%, 0), hsl($hue, $sat, 99%));
        }
    }

    .panel.main {
        background-color: hsl($hue+$accent-offset, 26%, 89%);
        color: hsl($hue+$accent-offset, 26%, 10%);
        box-shadow: 0 0 1px 1px hsla($hue+$accent-offset, 26%, 10%, 0.3);
        > div.more {
            @include linear-gradient(top, hsla($hue+$accent-offset, 26%, 89%, 0),
                                     hsl($hue+$accent-offset, 26%, 89%));
        }
    }

}

@media screen and (min-width: $medium-width) {
    #container {
        > header * {
            width: $medium-width;
            margin-left: auto;
            margin-right: auto;
        }

        > div {
            @include outer-container;
            width: $medium-width;
            margin-top: 1em;
            margin-left: auto;
            margin-right: auto;
        }

        > div {
            width: $medium-width;
            margin-left: auto;
            margin-right: auto;

            .panel {
                @include span-columns(6);
                border: 1px solid $full;
                margin-bottom: 1.25em;
            }

            .panel.main {
                @include span-columns(12);
                @include omega();
            }

            .second {
                @include omega();
            }
        }

        > footer {
            width: $medium-width;
        }
    }
}

@media screen and (min-width: $wide-width) {
    #container {

        > header * {
            width: $wide-width;
        }

        > div {
            width: $wide-width;

            .panel {
                @include span-columns(4);
            }

            .panel.main {
                @include span-columns(8);
            }

            .third {
                @include omega();
            }
        }

        > footer {
            width: $wide-width;
        }
    }
}

@media screen and (min-width: 36em) {
    #container {
    }
}

