@charset "UTF-8";

@import "components/mixins";
@import "components/color";
@import "components/variables";
@import "components/normalize";
@import "components/typography";
@import "components/global";
@import "components/grid";

body {
    @extend .brown, .lighten-5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header .menu-list {
    @extend .right, .hide-on-med-and-down;
}

footer.page-footer {
    @extend .brown, .lighten-2, .brown-text, .text-lighten-5;

    .footer-copyright {
        @extend .brown, .lighten-1, .brown-text, .text-lighten-5;
    }
}

main {
    flex: 1 0 auto;
}

main {
    flex: 1 0 auto;
}

a.brand-logo {
    &:link    { color: color("brown", "lighten-5"); }
    &:visited { color: color("brown", "lighten-5"); }
    &:hover   { color: color("brown", "lighten-5"); }
    &:active  { color: color("brown", "lighten-5"); }
}

main {
    ul {
        padding-left: 1.5em;

        li {
            list-style-type: disc;
        }
    }
}

ul.social {
    list-style: none;
    font-size: smaller;
    li {
        display: inline;
        &:after {
            content: " \00b7";
        }
        &:last-child:after {
            content: none;
        }
    }
    a:link, a:visited, a:active {
        color: color("brown", "lighten-5");
    }
}

.footer-copyright {
    font-size: x-small;
}

.writing-card {
    @extend .col, .s12, .m8, .offset-m2;
}

.clj-data-master {
    .card {
        @extend .teal, .darken-1;
    }
    .card-content {
        @extend .white-text;
        min-height: 35vmin;
    }
}

