
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main {
    flex: 1 0 auto;
}

a {
    &:link    { color: #00bfa5; }
    &:visited { color: #00bfa5; }
    &:hover   { color: #00bfa5; }
    &:active  { color: #00bfa5; }
}

a.brand-logo {
    &:link    { color: #efebe9; }
    &:visited { color: #efebe9; }
    &:hover   { color: #efebe9; }
    &:active  { color: #efebe9; }
}

main {
    ul {
        padding-left: 1.5em;

        li {
            list-style-type: disc;
        }
    }
}

ul.social {
    list-style: none;
    font-size: smaller;
    li {
        display: inline;
        &:after {
            content: " \00b7";
        }
        &:last-child:after {
            content: none;
        }
    }
    a:link, a:visited, a:active {
        color: rgb(239, 235, 233);
    }
}

.footer-copyright {
    font-size: x-small;
}


