[submodule "_deploy"]
	path = _deploy
	url = git@github.com:erochest/erochest.github.com.git
[submodule "clj-data-analysis"]
	path = clj-data-analysis
	url = git@github.com:erochest/clj-data-analysis.git
