[submodule "clj-data-analysis"]
	path = clj-data-analysis
	url = git@github.com:erochest/clj-data-analysis.git
[submodule "_deploy/erochest.github.com"]
	path = _deploy/erochest.github.com
	url = git@github.com:erochest/erochest.github.com.git
	branch = master
[submodule "_deploy/clj-data-analysis"]
	path = _deploy/clj-data-analysis
	url = git@github.com:erochest/clj-data-analysis.git
	branch = gh-pages
[submodule "clj-data-master"]
	path = clj-data-master
	url = git@github.com:erochest/clj-data-master.git
[submodule "_deploy/clj-data-master"]
	path = _deploy/clj-data-master
	url = git@github.com:erochest/clj-data-master.git
	branch = gh-pages
[submodule "reading"]
	path = reading
	url = git@github.com:erochest/reading-log.git
[submodule "_deploy/reading"]
	path = _deploy/reading
	url = git@github.com:erochest/reading-log.git
	branch = gh-pages
