          </div>
        </main>

        <footer class="page-footer">
          <div class="container">
            <div class="right-align">
              <ul class="social">
                <li>eric rochester</li>
                <li><a href="https://twitter.com/erochest">
                    <i class="fa fa-twitter"></i> twitter</a></li>
                <li><a href="https://github.com/erochest">
                    <i class="fa fa-github"></i> github</a></li>
                <li><a href="https://plus.google.com/114676222173328397142">
                    <i class="fa fa-google-plus"></i> google+</a></li>
                <li><a href="http://www.linkedin.com/in/erochester">
                    <i class="fa fa-linkedin"></i> linkedin</a></li>
              </ul>
            </div>
          </div>
          <!--
             - <div class="footer-copyright">
             -   <div class="container right-align">
             -     © 2016
             -   </div>
             - </div>
             -->
        </footer>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/js/vendor/materialize.min.js"></script>
        <script src="https://use.fontawesome.com/820ca58396.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-1756003-2','auto');ga('send','pageview');
        </script>
        $livereload$
    </body>
</html>
