<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>$title$ — Eric Rochester</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#5D4037">

        <link rel="alternate" type="application/atom+xml" href="/atom.xml"
              title="Atom Feed">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/materialize.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>

        $extra-header$
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
          <nav role="navigation">
            <div class="nav-wrapper container">
              <a class="brand-logo" href="/">e·</a>
              <ul class="menu-list">
                <li><a href="/posts/">blog</a></li>
                <li><a href="/projects/">projects</a></li>
                <li><a href="/reading/">reading</a></li>
                <li><a href="/writing/">writing</a></li>
                <li><a href="/about/">about</a></li>
              </ul>
              <ul id="slide-out" class="side-nav">
                <li><a href="/">home</a></li>
                <li><a href="/posts/">blog</a></li>
                <li><a href="/projects/">projects</a></li>
                <li><a href="/reading/">reading</a></li>
                <li><a href="/writing/">writing</a></li>
                <li><a href="/about/">about</a></li>
              </ul>
              <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">menu</i>
              </a>
            </div>
          </nav>
        </header>

        <main>
          <div id="container" class="container">
