$for(posts)$
<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="/img/about.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator gray-text text-darken-4">
      $title$
      <i class="material-icons right">more_vert</i>
    </span>
    <p><a href="$url$">$date$</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title activator gray-text text-darken-4">
      $title$
      <i class="material-icons right">close</i>
      <p>
        $if(teaser)$
          $teaser$
        $else$
          $body$
        $endif$
      </p>
    </span>
  </div>
</div>
$endfor$

<ul class="pagination right">
  $if(firstPageNum)$
  <li>
    <a href="$firstPageUrl$"><i class="material-icons">arrow_back</i></a>
  </li>
  $else$
  <li class="disabled">
    <a href="#"><i class="material-icons">arrow_back</i></a>
  </li>
  $endif$
  $if(previousPageNum)$
  <li class="waves-effect">
    <a href="$previousPageUrl$"><i class="material-icons">chevron_left</i></a>
  </li>
  $else$
  <li class="disabled">
    <a href="#"><i class="material-icons">chevron_left</i></a>
  </li>
  $endif$
  <li class="active">
    <a href="$currentPageUrl$">$currentPageNum$ / $numPages$</a>
  </li>
  $if(nextPageNum)$
  <li class="waves-effect">
    <a href="$nextPageUrl$"><i class="material-icons">chevron_right</i></a>
  </li>
  $else$
  <li class="disabled">
    <a href="#"><i class="material-icons">chevron_right</i></a>
  </li>
  $endif$
  $if(lastPageNum)$
  <li class="waves-effect">
    <a href="$lastPageUrl$"><i class="material-icons">arrow_forward</i></a>
  </li>
  $else$
  <li class="disabled">
    <a href="#"><i class="material-icons">arrow_forward</i></a>
  </li>
  $endif$
</ul>
