$for(posts)$
<div class="card">
  <div class="card-image">
    <img $if(coverImage)$ src="$coverImage$" $else$ src="/img/about.jpg" $endif$ >
  </div>
  <div class="card-action">
    <span class="card-title gray-text text-darken-4">
      <a href="$url$">$title$</a>
    </span>
    <p>$date$</p>
  </div>
</div>
$endfor$

$if(onePage)$
$else$
<ul class="pagination right">
  $if(firstPageNum)$
  <li>
    <a href="$firstPageUrl$"><i class="material-icons">arrow_back</i></a>
  </li>
  $else$
  <li class="disabled">
    <a href="#"><i class="material-icons">arrow_back</i></a>
  </li>
  $endif$
  $if(previousPageNum)$
  <li class="waves-effect">
    <a href="$previousPageUrl$"><i class="material-icons">chevron_left</i></a>
  </li>
  $else$
  <li class="disabled">
    <a href="#"><i class="material-icons">chevron_left</i></a>
  </li>
  $endif$
  <li class="active">
    <a href="$currentPageUrl$">$currentPageNum$ / $numPages$</a>
  </li>
  $if(nextPageNum)$
  <li class="waves-effect">
    <a href="$nextPageUrl$"><i class="material-icons">chevron_right</i></a>
  </li>
  $else$
  <li class="disabled">
    <a href="#"><i class="material-icons">chevron_right</i></a>
  </li>
  $endif$
  $if(lastPageNum)$
  <li class="waves-effect">
    <a href="$lastPageUrl$"><i class="material-icons">arrow_forward</i></a>
  </li>
  $else$
  <li class="disabled">
    <a href="#"><i class="material-icons">arrow_forward</i></a>
  </li>
  $endif$
</ul>
$endif$
